* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  font-size: 16px;
  background: #fec;
  color: #333;
  min-height: 100vh;
}

/* navigation */
.logo {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background: #edd0ac;
  color: #fcfcfc;
  box-shadow: 0 2px 15px rgba(155, 112, 120, 0.5);
  border-bottom: 2px solid #2c3e50;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 12px;
}


.nav-link {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  position: sticky;
}

.nav-link li a {
  font-weight: bold;
  transition: color 0.35s ease;
  text-shadow: 0 0 1px #1f475e;
}

.nav-link li a:hover {
  color: #1f475e;
}

.banner {
  padding: 20px;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
  align-items: center;
  display: flex;
  overflow: hidden;
  height: 320px;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('./IMG-20260106-WA0050.jpg') no-repeat center center/cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.9);
}

.banner-text {
  z-index: 1;
  position: relative;
  color: #ffc;
  text-shadow: 0 0 4px #fff;
}

.banner-text h1 {
  font-size: 3rem;
}

.banner-text p {
  font-size: 2rem;
}

.banner-btn a {
  margin-top: 1.5rem;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 9px;
  cursor: pointer;
  color: #ffc;
  background: #4f252a;
  display: inline-block;
}

.banner-btn a:hover {
  background: #f14;
}

/*toggle*/
.container {
  max-width: 1200px;
  margin: auto;
}

.container-text {
  text-align: center;
  margin-top: 25px ;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #000;
}

.container-text h2{
  font-size: 3rem;
  color: #7f1453;
}

.container-text p{
  font-size: 1.5rem;
  font-style: italic;
}

.product-display {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.gallery {
  flex: 1;
  position: relative;
}

.gallery input {
  display: none;
}

.images {
  position: relative;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#img1:checked ~ .images #slide1,
#img2:checked ~ .images #slide2,
#img3:checked ~ .images #slide3,
#img4:checked ~ .images #slide4{
  display: block;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnails {
  margin-top: 1rem;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.thumbnails label {
  cursor: pointer;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.product-text{
  margin-top: 19px;
  padding:29px;
}

.product-text h4{
  font-size: 2.2rem;
  margin-bottom: 12px;
  color: #7f145e;
}

.product-text p{
  font-size: 1.5rem;
  color: #000;
}

.price{
  margin:19px 0 0;
  color: dodgerblue;
  font-weight: bold;
  padding:0 28x;
  font-size: 2rem;
}

.product-btn{
  margin-top: 1.5rem;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 9px;
  cursor: pointer;
  color: #ffc;
  background: #4f252a;
  display: inline-block;
}

.product-btn:hover{
background-color: #f14;
}

.products {
  padding: 60px 20px;
  background-color: #fbc3e9;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 15px;
}

.products-card {
  perspective: 1000px;
}

.products-tilt {
  background: linear-gradient(120deg, #edd0ac, #fbc3e9);
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  color: #fdc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 00.35s ease, box-shadow 0.3s ease, background 0.5s ease;
  transform-style: preserve-3d;
}

.products-tilt:hover {
  transform: rotateX(8deg) rotateY(-8deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  background: linear-gradient(120deg, #edd0ac, #fbc3e9);
}

.products-tilt img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.products-text{
  color: #000;
}

footer{
  text-align: center;
  font-weight: bold;
  color: #333;
  background: #edd0ac;
  padding: 15px;
}
 
 .contact{
   margin-top: 12px;
 }
 .social{
   color: #fff;
   margin-top: 12px;
 }
  
}